################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/stm32f030f4_digital_encoder/v15
/VisualGDB
/Drivers
